@model global::Stage.AlienTrick.Models.Voortgangsmodel
@{
    ViewBag.Title = "AcceptHours";
}

<h2>Uren Accepteren</h2>

<h3>Deze student heeft @Model.AmountofbookedHours uren geboekt.</h3>

<h4>Wilt u deze accepteren? druk dan op de knop: Uren Goedkeuren.</h4>

@using (Html.BeginForm("AcceptHoursNow", "Studenten", FormMethod.Post))
{
<p>
    <a class="FontAwesomeButton" href="@Url.Action("AcceptHoursNow", "Studenten", new { id = Model.student.ID })"><i class="far fa-plus-square"></i>Uren Goedkeuren</a>
</p>
}